html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: #f5f5f5;
  text-align: center!important;
}

.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signup .checkbox {
  font-weight: 400;
}
.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup input[name="first"] {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.form-signup input[type="text"] {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
