<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
	<!--Author: Yifan He-->

</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="/index" class="navbar-brand">ScratchBot</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/index">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="#">Help</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Signup</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h1>
			Help
		</h1>
	</div>
</body>
</html>
