*{
	margin: 0;
	padding: 0;
	font-family: cursive;
	box-sizing: border-box;
}

body {
	background: #2d2d2d;


}

.chatbox {
	width: 600px;
	min-width: 300px;
	height: 900px;
	background: #ffde56; 
	padding: 25px;
	margin:	20px auto;
	box-shadow:  0 3px #4c4900;
	border-radius: 20px;

}

.chatcontent{
	padding: 10px;
	width: 100%;
	height: 86.5%;
	overflow-x: hidden;
	overflow-y: scroll;

}

.chatcontent::-webkit-scrollbar{
	width: 8px;

}

.chatcontent::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #c6c6c6;
}

.content{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 15px;

}

.content .user-photo{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	overflow: hidden;
}

.content .user-photo img{
	width: 100%;
}

.content .message{
	width: 73%;
	padding: 5px;
	margin: 5px 10px 0;
	background: #fffa91;
	border-radius: 10px;
	font-size: 16px;
}

.owner .message{
	background: #d7ff6a;
}

.customer .message{
	background: #ffca69;
	order: -1;
}

.chat-input {
	margin-top: 15px;
	display: flex;
	align-items:flex-start;

}

.chat-input textarea{
	background: #f8ffbc;
	width: 400px;
	height: 100px;
	border: 1px solid #a8ad82;
	border-radius: 10px;
	resize: none;
	padding: 10px;
	font-size: 16px;
}

.chat-input textarea::-webkit-scrollbar{
	width: 8px;

}

.chat-input textarea::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #c6c6c6;
}
.chat-input button{
	background: #fcffe5;
	padding: 5px 15px;
	font-size: 30px;
	border: none;
	margin: 25px 10px;
	border-radius: 8px;
	cursor: pointer;

	-webkit-transition: background .1s ease;
	-moz-transition: background .1s ease;
	-o-transition: background .1s ease;
}

.chat-input button:hover{
	background: #cef4ff;
}
